@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Light.woff2") format("woff2"),
  url("../fonts/FiraSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Medium.woff2") format("woff2"),
  url("../fonts/FiraSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Regular.woff2") format("woff2"),
  url("../fonts/FiraSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-SemiBold.woff2") format("woff2"),
  url("../fonts/FiraSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Black.woff2") format("woff2"),
  url("../fonts/FiraSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Bold.woff2") format("woff2"),
  url("../fonts/FiraSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-color:#212429;
  --black-color: #000000;
  --red-color: #e30614;
  --white: #ffffff;
  --placeholder-color: #b3b3b3;
  --border-color:#e6e6e6;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--red-color);
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  background-color: #fff;
  color: var(--black-color);
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN_CONTENT */
.main-content {
  flex-grow: 1;
}

/* SECTION-TITLE */
.section-title {
  margin: 0 0 30px;
  padding: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 1px;
}

/* HEADER */
/* HEADER-TOP */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header-top {
  margin: 0;
  padding: 13px 0;
  background-color: var(--main-color);
}

.header-top__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 20px;
}

.sitenav__link {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.009em;
  text-decoration: none;
  color: var(--white);
}

.sitenav__link:hover {
  color: var(--red-color);
}

.sitenav__link:active {
  color: var(--red-color);
  opacity: 0.6;
}

.contacts {
  display: flex;
}

.contacts-phone {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.phone-icon {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.phone__link {
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--white);
}

.contacts-mail {
  display: flex;
  align-items: center;
}

.mail-icon {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.mail__link {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.008em;
  text-decoration: none;
  color: var(--white);
}


/* HEADER-BOTTOM */
.header-bottom {
  margin: 0;
  padding: 20px 0;
  background-color: var(--white);
}

.header-bottom__item {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 20px;
}

.logo-img {
  display: flex;
  width: 82px;
  height: 70px;
}

.header-title {
  margin: 0;
  margin-right: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.009em;
  color: var(--black-color);
}

.catalog-icon {
  margin-right: 15px;
  display: flex;
  width: 20px;
  height: 20px;
}

.catalog-button {
  margin-right: 20px;
  padding: 11px 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;  
  letter-spacing: 0.009em;
  border-radius: 4px;
  border: 1px solid var(--red-color);
  color: var(--red-color);
  background-color: var(--white);
}

.catalog-button:hover {
  opacity: 0.8;
}

.catalog-button:active {
  opacity: 0.6;
}

#search {
  margin: 0 0 0 50px;
  padding: 0;
  padding-left: 40px;
  padding-right: 10px;
  width: 358px;
  height: 42px;
  color: #000000;
  background: var(--white);
  background-image: url(../img/icon-search.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 17px center;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

#search::placeholder {
  color: var(--placeholder-color);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* .search-button {
  padding: 8px 20px;
  height: 42px;
  color: var(--white);
  background-color: var(--red-color);
  border: 1px solid var(--red-color);
  border-radius: 4px;
}

.search-button:hover {
  opacity: 0.8;
}

.search-button:active {
  opacity: 0.6;
} */

.contacts-link {
  margin-left: auto;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  height: 42px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--red-color);
  color: var(--white);
  background-color: var(--red-color);
}

.contacts-link:hover {
  opacity: 0.8;
}

.contacts-link:active {
  opacity: 0.6;
}



/* HERO */
.hero {
  padding: 50px 0;
  background-image: url(../img/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  width: 532px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.hero-text {
  margin: 20px 0 40px;
  padding: 0;
  max-width: 590px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.hero-text-big {
  margin: 0;
  padding: 20px 0;
  font-weight: 700;
  font-size: 45px;
  text-transform: uppercase;
  color: var(--red-color);
}

.function-box {
  margin-bottom: -145px;
}

.box__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.box__item:not(:last-child) {
  margin-right: 27px;
}

.box__item {
  margin: 0;
  padding: 20px;
  width: 265px;
  height: 148px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
}

.box-img {
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
}

.box__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--black-color);
  text-decoration: none;
}


/* ACTIVITIES */
.activities {
  margin: 175px 0 80px;
  padding: 0;
}

.activities__card-img {
  width: 240px;
}

.activities-cards__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.activities-card__item {
  margin: 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 365px;
  border: 1px solid var(--placeholder-color);
  border-radius: 5px;
}

.activities-card__item:not(:last-child) {
  margin-right: 23px;
}

.activities-card__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  color: var(--black-color);
}

.activities-card__link:hover {
  opacity: 0.8;
  color: var(--red-color);
}

.activities-card__link:active {
  opacity: 0.6;
  color: var(--red-color);
}


/* PRODUCTS */
.products-section {
  margin: 0 0 50px;
}

.products-card__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.product-card__item {
  margin: 0;
  padding: 30px 20px;
  width: 285px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid var(--border-color);
}

.product-card__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--black-color);
}

.product-card__item:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.247);
}

.product-card__item:hover .product-card__link {
  color: var(--red-color);
}

.product-img {
  width: 240px;
  height: 180px;
  object-fit: contain;
  background-color: var(--white);
}

.product-name {
  margin: 30px 0 0;
}

.product-category-row {
  display: flex;
  margin: 30px 0 0;
}

.product-category {
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.product-category-value {
  margin: 0;
  padding: 0;
}

.phone-to-order__img {
  margin: 0 10px 0 0;
  padding: 0;
  width: 15px;
  height: 15px;
}

.phone-to-order__link {
  margin: auto auto 0;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  color: var(--red-color);
  border: 1px solid var(--red-color);
}


/* FOOTER */
footer {
  margin: 0;
  padding: 20px 0;
  background-color: var(--main-color);
}

.footer-top {
  margin: 0;
  padding: 0 0 20px;
  display: flex;
}

.logo path{
  display: flex;
  fill: var(--white);
}

.footer-logo {
  width: 82px;
  height: 72px;
  display: flex;
  fill: var(--white);
}

.footer-title{
  margin: 0 40px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
}

.footer-sitenav__link {
  font-size: 14px;
}

.footer-sitenav__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer-sitenav__list {
  display: flex;
  flex-direction: column;
}

.footer-contacts {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--white);
}

.footer-contacts-phone  {
  margin: 0 0 20px;
}

.footer-contacts-mail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px;
}

.mail__link {font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.009em;
}

.location-icon {
  width: 11px;
  height: 14px;
  margin-right: 10px;
}

.location {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.location-link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.009em;
  text-decoration: none;
  color: var(--white);
}

.graphics {
  margin: 0;
  padding: 0;
}

.graphics-title {
  margin: 0 0 20px;
  padding: 0;
}

.graphics-time {
  margin: 0;
  padding: 0;
}

.copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.009em;
  
  margin: 0;
  color: var(--white);
}

.copyright-link {
  text-decoration: none;
  color: var(--white);
}

.aj-corp-logo {
  width: 30px;
  display: flex;
}

.footer-bottom {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--white);
}

/* ACTIVE-LINK */
.active-link {
  font-weight: 500;
  color: var(--red-color);
}

/* ABOUT */
.about {
  margin: 0;
  padding: 20px 0;
}

.about-title {
  margin: 0 auto;
  padding: 0 0 50px;
  width: 70%;
  display: flex;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.about-list {
  margin: 0 0 50px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
}

.about-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-block-list {
  margin: 0 auto 30px;
  width: 320px;
}

.about-block-list-title {
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  color: var(--red-color);
}

.block-img {
  margin-bottom: 20px;
  width: 320px;
  background-color: rgb(72, 68, 68);
}

.about-block-list-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}